.Category-page {
  padding-top: 20px; /* Keeps some spacing at the top */
  padding-left: 300px; /* Adjust this based on your sidebar width */
  position: relative; 
  text-align: center;
  background-image: url('bg0.jpg');
  width: 100%; /* Takes the full remaining space after the sidebar */
  height: 100vh; /* Ensures it covers the full viewport height */
  margin-left: 300px;
 
}

.category-dropdown {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 20px;
  background-color: black;
  box-shadow: 0px 2px 5px rgba(98, 183, 230, 0.1); /* Optional: Adds a shadow */
  font-weight: bold; 
  /* Optional: Makes the label stand out */
  font-size: x-large;
  padding: 20px;
  border-radius: 5px;
}



.category-dropdown label {
  margin-right: 40px; /* Adds space between label and dropdown */
  font-weight: bold; 
  /* Optional: Makes the label stand out */
  font-size: x-large;
  color: blue;
}

.category-dropdown select {
  padding: 5px;
  border: 1px solid #ccc; /* Optional: Adds a border */
  border-radius: 4px; /* Optional: Adds rounded corners */
  font-weight: bold; 
  /* Optional: Makes the label stand out */
  font-size: x-large;
}

 
    
    
    