.Category-page {
  padding-top: 0; /* Remove extra padding */
  padding-left: 500px;
  position: relative; /* Ensures proper alignment */
  text-align: center;
}

.category-dropdown {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(98, 183, 230, 0.1); /* Optional: Adds a shadow */
  font-weight: bold; 
  /* Optional: Makes the label stand out */
  font-size: x-large;
}



.category-dropdown label {
  margin-right: 40px; /* Adds space between label and dropdown */
  font-weight: bold; 
  /* Optional: Makes the label stand out */
  font-size: x-large;
  color: blue;
}

.category-dropdown select {
  padding: 5px;
  border: 1px solid #ccc; /* Optional: Adds a border */
  border-radius: 4px; /* Optional: Adds rounded corners */
  font-weight: bold; 
  /* Optional: Makes the label stand out */
  font-size: x-large;
}

 
    
    
    